{% extends 'base.html.twig' %}

{% block title %}
    Horses View
{% endblock %}

{% block body %}
    {% include 'partial/nav.html.twig' %}

    <div class="container">
        <div class="clearfix"></div>
        <div class="">
            <h1>Horses Data</h1>
            <div class="">
                <table id="employee_grid" class="display" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Horse Name</th>
                            <th>Horse Slug</th>
                            <th>Horse Latest Results</th>
                            <th>Added On</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for horse in horses %}
                        <tr>
                            <td>
                                <a href="{{ path('horse_details', {'horse': horse.horseId}) }}">{{ horse.horseName }}</a>
                            </td>
                            <td>{{ horse.horseSlug }}</td>
                            <td>{{ horse.horseLatestResults }}</td>
                            <td>{{ horse.horseAddedOn }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Horse Name</th>
                            <th>Horse Slug</th>
                            <th>Horse Latest Results</th>
                            <th>Added On</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#employee_grid').DataTable({

                "responsive": true,
            });
        });
    </script>
{% endblock %}

