{% extends "base.html.twig" %}

{% block body %}
    {% include 'partial/nav.html.twig'%}

    <div class="container-fluid" style="margin-top: 30px">
        <div class="row">
            <div class="col-lg-6">
                <form action="{{ path('index') }}" id="selectionForm">
                    <div class="form-group">
                        <select id="mode" class="form-control">
                          <option value=""> --- CHOOSE DISPLAY OPTION ---</option>
                          <option value="1"> Show data for 1 best results</option>
                          <option value="2"> Show data for 2 best results</option>
                          <option value="3"> Show data for 3 best results</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-lg-offset-2 pull-right">
            {% if app.request.get('odds') is same as 'true' %}
                <a href="{{ path('index') }}">
                    <button type="button" class="btn {{ filterStatus(app.request.get('odds')) }} pull-right" id="filterResults">
                        🔍 Filtering enabled. Showing results with odds >= {{ oddsThreshold|format_currency('USD') }}
                    </button>
                </a>
            {% else %}
                <a href="{{ path('index', {"odds": "true"}) }}">
                    <button type="button" class="btn {{ filterStatus(app.request.get('odds')) }} pull-right" id="filterResults">
                        🔍 Filter results with odds < {{ oddsThreshold|format_currency("USD") }}
                    </button>
                </a>
            {% endif %}
            </div>
        </div>
        <div class="row">
            {% if requestMode is not null %}
                {% if requestMode == 1 %}
                    <div class="alert alert-success">Showing one best result</div>
                {% elseif requestMode == 2 %}
                    <div class="alert alert-success">Showing best 2 results</div>
                {% else %}
                    <div class="alert alert-success">Showing best 3 results</div>
                {% endif %}
            {% else %}
                <div class="alert alert-success">Showing best 2 results</div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2>Profit and Loss for every Race based on Average Rank Field</h2><br/>
            <table class="table table-striped table-condensed dataTables" id="indexAVGGrid">
                <thead>
                    <tr>
                        <th>Race ID</th>
                        <th>Race Details</th>
                        <th>Horse</th>
                        <th>Revenue</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for realResultAVG in avgRankFieldResultSet.results %}
                        <tr>
                            <td>
                                <a href="{{ path('races_details', {'meeting': realResultAVG.meeting.meetingId, 'race': realResultAVG.race.raceId, 'average': "average"}) }}">
                                    <strong>{{ realResultAVG.raceId }}</strong>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('races_details', {'meeting': realResultAVG.meeting.meetingId, 'race': realResultAVG.race.raceId, 'average': "average"}) }}">
                                    <small>{{ realResultAVG.race.raceTitle }}, 📅 {{ realResultAVG.meeting.meetingDate }} 🕙 {{ realResultAVG.race.raceScheduleTime }} 🏇 {{ distanceFormat(realResultAVG.race.raceDistance) }}</small>
                                </a>
                            </td>
                            <td><a href="{{ path('horse_details', {'horse': realResultAVG.horseId}) }}">{{ realResultAVG.horse }}</a></td>
                            <td>{{ realResultAVG.revenue|format_currency('USD') }}</td>
                            <td>{{ realResultAVG.total|format_currency('USD') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
            <div class="col-lg-8 col-lg-offset-2" style="text-align: center">
                <div class="col-lg-4 {{ profitLossColorStyle(avgRankFieldResultSet.absoluteTotal) }}" style="border-style: solid;">
                    <h5 style="font-variant: small-caps;">Average Rank Total Profit</h5>
                    <p style="font-size: 1.8em; font-family: fantasy">
                        {{ avgRankFieldResultSet.absoluteTotal|format_currency('USD') }}
                    </p>
                </div>
                <div class="col-lg-4 alert-info" style="border-style: solid;">
                    <h5 style="font-variant: small-caps;">Average Rank Current Winnings</h5>
                    <p style="font-size: 1.8em; font-family: fantasy">
                        {{ avgRankFieldResultSet.totalProfit()|format_currency('USD') }}
                    </p>
                </div>
                <div class="col-lg-4 alert-warning" style="border-style: solid;">
                    <h5 style="font-variant: small-caps;">Average Rank Current Losses</h5>
                    <p style="font-size: 1.8em; font-family: fantasy">
                        -{{ avgRankFieldResultSet.totalLoss()|format_currency('USD') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
        <br/>
        <hr/>
        <br/>
    <div class="container-fluid">
        <div class="row">
            <h2>Profit and Loss for every Race based on Rating Field</h2><br/>
            <table class="table table-striped table-condensed dataTables" id="indexGrid">
                <thead>
                    <tr>
                        <th>Race ID</th>
                        <th>Race Details</th>
                        <th>Horse</th>
                        <th>Revenue</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ratingFieldResult in ratingFieldResultSet.results %}
                    <tr>
                        <td>
                            <a href="{{ path('races_details', {'meeting': ratingFieldResult.meeting.meetingId, 'race': ratingFieldResult.race.raceId, 'average': "average"}) }}">
                                <strong>{{ ratingFieldResult.raceId }}</strong>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('races_details', {'meeting': ratingFieldResult.meeting.meetingId, 'race': ratingFieldResult.race.raceId, 'average': "average"}) }}">
                                <small>{{ ratingFieldResult.race.raceTitle }}, 📅 {{ ratingFieldResult.meeting.meetingDate }} 🕙 {{ ratingFieldResult.race.raceScheduleTime }} 🏇 {{ distanceFormat(ratingFieldResult.race.raceDistance) }}</small>
                            </a>
                        </td>
                        <td><a href="{{ path('horse_details', {'horse': ratingFieldResult.horseId}) }}">{{ ratingFieldResult.horse }}</a></td>
                        <td>{{ ratingFieldResult.revenue|format_currency('USD') }}</td>
                        <td>{{ ratingFieldResult.total|format_currency('USD') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <br/>
        <div class="col-lg-8 col-lg-offset-2" style="text-align: center">
            <div class="col-lg-4 {{ profitLossColorStyle(ratingFieldResultSet.absoluteTotal()) }}" style="border-style: solid;">
                <h5 style="font-variant: small-caps;">AVG Rank With Rating Field Total Profit</h5>
                <p style="font-size: 1.8em; font-family: fantasy">
                    {{ ratingFieldResultSet.absoluteTotal()|format_currency('USD') }}
                </p>
            </div>
            <div class="col-lg-4 alert-info" style="border-style: solid;">
                <h5 style="font-variant: small-caps;">Avg Rank Rating Field Current Winnings</h5>
                <p style="font-size: 1.8em; font-family: fantasy">
                    {{ ratingFieldResultSet.totalProfit()|format_currency('USD') }}
                </p>
            </div>
            <div class="col-lg-4 alert-warning" style="border-style: solid;">
                <h5 style="font-variant: small-caps;">Avg Rank Rating Field Current Losses</h5>
                <p style="font-size: 1.8em; font-family: fantasy">
                    -{{ ratingFieldResultSet.totalLoss()|format_currency('USD') }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('.dataTables').DataTable({
            "responsive": true,
        });
        $('#mode').on('change', function() {
            var url = new URL(window.location.href);
            url.searchParams.set('mode', $(this).find(":selected").val());
            window.location.href = url.href;
        });
    });
</script>
{% endblock %}