{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    {% include 'partial/nav.html.twig'%}

    <div class="container-fluid" style="margin-top: 30px">
        <div class="row">
            <div class="col-lg-6">
                <form action="{{ path('index') }}" id="selectionForm">
                    <div class="form-group">
                        <select id="mode" class="form-control">
                          <option value=""> --- CHOOSE DISPLAY OPTION ---</option>
                          <option value="1"> Show data for 1 best results</option>
                          <option value="2"> Show data for 2 best results</option>
                          <option value="3"> Show data for 3 best results</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-lg-offset-2 pull-right">
            {% if app.request.get('odds') is same as 'true' %}
                <a href="{{ path('index') }}">
                    <button type="button" class="btn {{ filterStatus(app.request.get('odds')) }} pull-right" id="filterResults">
                        🔍 Filtering enabled. Showing results with odds >= {{ oddsThreshold|format_currency('USD') }}
                    </button>
                </a>
            {% else %}
                <a href="{{ path('index', {"odds": "true"}) }}">
                    <button type="button" class="btn {{ filterStatus(app.request.get('odds')) }} pull-right" id="filterResults">
                        🔍 Filter results with odds < {{ oddsThreshold|format_currency("USD") }}
                    </button>
                </a>
            {% endif %}
            </div>
        </div>
        <div class="row">
            {% if requestMode is not null %}
                {% if requestMode == 1 %}
                    <div class="alert alert-success">Showing one best result</div>
                {% elseif requestMode == 2 %}
                    <div class="alert alert-success">Showing best 2 results</div>
                {% else %}
                    <div class="alert alert-success">Showing best 3 results</div>
                {% endif %}
            {% else %}
                <div class="alert alert-success">Showing best 2 results</div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2>Profit and Loss for every Race based on <strong>Average Rank</strong></h2><br/>
            <table class="table table-striped table-condensed dataTables" id="rank-results-grid">
                <thead>
                    <tr>
                        <th>Race ID</th>
                        <th>Race Details</th>
                        <th>Horse</th>
                        <th>Average Rank</th>
                        <th>Revenue</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br/>
            <div class="col-lg-8 col-lg-offset-2" style="text-align: center; display: none;" id="avgRankSummary">
                <div class="col-lg-4 alert-primary" style="border-style: solid;">
                    <h5 style="font-variant: small-caps;">Average Rank Total Profit</h5>
                    <p style="font-size: 1.8em; font-family: fantasy" id="avgRankAbsoluteTotal">
                    </p>
                </div>
                <div class="col-lg-4 alert-info" style="border-style: solid;">
                    <h5 style="font-variant: small-caps;">Average Rank Current Winnings</h5>
                    <p style="font-size: 1.8em; font-family: fantasy" id="avgRankTotalProfit">
                    </p>
                </div>
                <div class="col-lg-4 alert-warning" style="border-style: solid;">
                    <h5 style="font-variant: small-caps;">Average Rank Current Losses</h5>
                    <p style="font-size: 1.8em; font-family: fantasy" id="avgRankTotalLoss">
                    </p>
                </div>
            </div>
        </div>
    </div>
        <br/>
        <hr/>
        <br/>
    <div class="container-fluid">
        <div class="row">
            <h2>Profit and Loss for every Race based on <strong>Rating</strong></h2><br/>
            <table class="table table-striped table-condensed dataTables" id="rating-results-grid">
                <thead>
                    <tr>
                        <th>Race ID</th>
                        <th>Race Details</th>
                        <th>Horse</th>
                        <th>Rating</th>
                        <th>Revenue</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        <br/>
        <div class="col-lg-8 col-lg-offset-2" style="text-align: center; display: none;" id="ratingSummary">
            <div class="col-lg-4 alert-primary" style="border-style: solid;">
                <h5 style="font-variant: small-caps;">AVG Rank + Rating Total Profit</h5>
                <p style="font-size: 1.8em; font-family: fantasy" id="ratingAbsoluteTotal">
                </p>
            </div>
            <div class="col-lg-4 alert-info" style="border-style: solid;">
                <h5 style="font-variant: small-caps;">Avg Rank + Rating Current Winnings</h5>
                    <p style="font-size: 1.8em; font-family: fantasy" id="ratingTotalProfit">
                </p>
            </div>
            <div class="col-lg-4 alert-warning" style="border-style: solid;">
                <h5 style="font-variant: small-caps;">Avg Rank + Rating Current Losses</h5>
                <p style="font-size: 1.8em; font-family: fantasy" id="ratingTotalLoss">
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        let url = new URL(window.location.href);
        const mode = url.searchParams.get('mode');
        const odds = url.searchParams.get('odds');
        $('#rating-results-grid').DataTable({
            "responsive": true,
            ajax: '/api/rating?mode=' + mode + '&odds=' + odds,
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return '<strong><a href="' + row[6] + '">' + data +'</a></strong>';
                    },
                    "targets": 0
                },
                {
                    "render": function ( data, type, row ) {
                        return '<a href="' + row[6] + '"><small>' + data +', 📅 ' + row[7] + ' 🕙 ' + row[8] + ' 🏇 ' + row[9] + 'm</small></small></a>';
                    },
                    "targets": 1
                },
                {
                    "render": function ( data, type, row ) {
                        return '<a href="' + row[10] + '">' + data +'</a>';
                    },
                    "targets": 2
                },
                {
                    "targets": [ 6 ],
                    "visible": false
                },
                {
                    "targets": [ 7 ],
                    "visible": false
                }
            ],
            "initComplete": function(settings, json) {
                $('#ratingAbsoluteTotal').html(json.absoluteTotal).parent().addClass(json.cssClass);
                $('#ratingTotalLoss').html(json.totalLoss);
                $('#ratingTotalProfit').html(json.totalProfit);
                $('#ratingSummary').toggle();
            }
        });

        $('#rank-results-grid').DataTable({
            "responsive": true,
            ajax: '/api/avg_rank?mode=' + mode + '&odds=' + odds,
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return '<strong><a href="' + row[6] + '">' + data +'</a></strong>';
                    },
                    "targets": 0
                },
                {
                    "render": function ( data, type, row ) {
                        return '<a href="' + row[6] + '"><small>' + data +', 📅 ' + row[7] + ' 🕙 ' + row[8] + ' 🏇 ' + row[9] + 'm</small></small></a>';
                    },
                    "targets": 1
                },
                {
                    "render": function ( data, type, row ) {
                        return '<a href="' + row[10] + '">' + data +'</a>';
                    },
                    "targets": 2
                },
                {
                    "targets": [ 6 ],
                    "visible": false
                },
                {
                    "targets": [ 7 ],
                    "visible": false
                }
            ],
            "initComplete": function(settings, json) {
                $('#avgRankAbsoluteTotal').html(json.absoluteTotal).parent().addClass(json.cssClass);
                $('#avgRankTotalLoss').html(json.totalLoss);
                $('#avgRankTotalProfit').html(json.totalProfit);
                $('#avgRankSummary').toggle();
            }
        });

        $('#mode').on('change', function() {
            var url = new URL(window.location.href);
            url.searchParams.set('mode', $(this).find(":selected").val());
            window.location.href = url.href;
        });
    });
</script>
{% endblock %}