{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partial/nav.html.twig' %}

    <div class="container-fluid">
        <h1>Horses Rating - Distance {{ raceDetails.roundDistance}} </h1>
        <table id="race-horse-rating-grid" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    {% if average == "average" %}
                        <th>No</th>
                        <th>Name</th>
                        <th>Form</th>
                        <th>Odds</th>
                        <th>Weight</th>
                        <th>Current Weight</th>
                        <th>Rating</th>
                        <th>Profit & Loss</th>
                        <th>AVG Rank</th>
                        <th>Profit</th>
                    {% else %}
                        <th>No</th>
                        <th>Name</th>
                        <th>Form</th>
                        <th>Odds</th>
                        <th>Distance</th>
                        <th>Sectional</th>
                        <th>Minimum Time</th>
                        <th>Race Pos</th>
                        <th>Orig Weight</th>
                        <th>Current Weight</th>
                        <th>Handicap</th>
                        <th>Rating</th>
                        <th>Rank</th>
                    {% endif %}
                </tr>
            </thead>
                <tbody>
                {% if average != "average" %}
                    {% for result in resultsCombinedArray %}
                        <tr>
                            <td>{{ result.horseNum }}</td>
                            <td>{{ result.horseName }}</td>
                            <td>{{ result.horseLatestResults }}</td>
                            <td>{{ result.horseFxOdds }}</td>
                            <td>{{ result.raceDistance }}</td>
                            <td>{{ result.raceSectional }}</td>
                            <td>{{ result.raceTime }}</td>
                            <td>{{ result.raceHorsePosition }}</td>
                            <td>{{ result.raceWeight }}</td>
                            <td>{{ result.horseWeight }}</td>
                            <td>{{ result.handicap }}</td>
                            {% if result.histId is not empty %}
                                <td>
                                    <a href="{{ path('debug_rating', {'horseId': result.horseId, 'raceId': result.raceId, 'histId': result.histId}) }}" target="_blank">
                                        <span class='glyphicon glyphicon-info-sign' title="Click to see how it was calculated" style="color: #888888"></span>
                                    </a>
                                    {{ result.rating }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ result.rank }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for result in resultsCombinedArray %}
                        <tr>
                            <td>{{ result.horseNum }}</td>
                            <td>{{ result.horseName }}</td>
                            <td>{{ result.horseLatestResults }}</td>
                            <td>{{ result.horseFxOdds }}</td>
                            <td>{{ result.raceWeight }}</td>
                            <td>{{ result.horseWeight }}</td>
                            <td>
                                <span class='glyphicon glyphicon-info-sign' title="This is AVG(rating) from all horses. Check individual records for rating calculation details." style="color: #888888"></span>
                                {{ result.rating }}
                            </td>
                            <td>{{ result.profitLoss }}</td>
                            <td>{{ result.rank }}</td>
                            <td>{{ result.profit }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            <tfoot>
                <tr>
                {% if average == "average" %}
                    <th>No</th>
                    <th>Name</th>
                    <th>Form</th>
                    <th>Odds</th>
                    <th>Weight</th>
                    <th>Current Weight</th>
                    <th>Rating</th>
                    <th>Profit & Loss</th>
                    <th>AVG Rank</th>
                    <th>Profit</th>
                {% else %}
                    <th>No</th>
                    <th>Name</th>
                    <th>Form</th>
                    <th>Odds</th>
                    <th>Distance</th>
                    <th>Sectional</th>
                    <th>Minimum Time</th>
                    <th>Race Pos</th>
                    <th>Orig Weight</th>
                    <th>Current Weight</th>
                    <th>Handicap</th>
                    <th>Rating</th>
                    <th>Rank</th>
                {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
    <hr/>
    <div class="container-fluid">
        <div class="">
            <h1>Race Results for {{ raceDetails.raceTitle }}</h1>
            <div class="table">
                <table id="race-results-grid" class="display" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Horse Name</th>
                        <th>Distance</th>
                        <th>Event</th>
                        <th>Race Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for raceResult in resultsForRace %}
                        <tr>
                            <td>{{ raceResult.raceResultPosition }}</td>
                            <td>{{ raceResult.horseName }}</td>
                            <td>{{ raceResult.roundDistance }}</td>
                            <td>{{ raceResult.meetingName }}</td>
                            <td><a href=''{{ path('races_details', {"meeting": meetingId, "race": raceId, 'average': "average"}) }}'>{{ raceResult.raceName }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var age = parseFloat(data[6]) || 0; // use data for the age column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && age <= max) ||
                    (min <= age && isNaN(max)) ||
                    (min <= age && age <= max)) {
                    return true;
                }
                return false;
            }
        );
        $(document).ready(function () {
            $('#race-horse-rating-grid').DataTable({
                "pageLength": 25,
                "order": [[7, "desc"]]
            });
            $('#race-results-grid').DataTable({
                "responsive": true,
            });
        });
    </script>
{% endblock %}